<h2>Product Details</h2>
<button id="addProduct" class="btn btn-success float-right" (click)="delete">New Product</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="hidden">Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th id="thAction" colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="hidden">{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td class="tdAction">
                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </td>
            <td class="tdAction">
                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </td>
            <td class="tdAction">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>